// Common
:root {
    --surface-card: var(--p-content-background);
    --surface-hover: var(--p-content-hover-background);
    --text-color: var(--p-text-color);
    --text-color-secondary: var(--p-text-muted-color);
    --maskbg: var(--p-mask-background);
}

// Light
:root {
    --surface-ground: var(--p-surface-100);
}

//  Dark
:root[class*='app-dark'] {
    --surface-ground: var(--p-surface-950);
}